.todo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
}
.todo-form-container {
  padding: 1rem;
  display: flex;
  background-color: #fff;
  border: 1px solid gray;
  box-shadow: 5px 5px 15px 5px #dddddd;
  align-items: center;
  min-width: 400px;
}

.todo-form-container label {
  font-weight: 600;
  margin-right: 1rem;
}

.todo-form-container input {
  padding: 0.5rem;
  font-size: medium;
}
.todo-form-container button {
  border: 1px solid #c8c8c8;
  margin-left: 1rem;
  font-weight: 600;
  font-size: medium;
  padding: 0.5rem;
}

.todo-tasks-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid gray;
  box-shadow: 3px 3px 12px 3px #f0f0f0c9;
  min-width: 400px;
}

.completed{
    text-decoration: line-through;
}
